.input-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

#plataforma {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#url {
    flex-grow: 1; /* Esto hace que el campo de texto ocupe el espacio restante */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.botones {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.btn-save { background-color: #6c757d; color: white; }
.btn-start { background-color: #28a745; color: white; font-weight: bold; }