<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Vincular Playlist</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body onload="cargarConfiguracion()">

    <h2>Configuración del Scraper</h2>
    
    <div class="config-container">
        <div class="campo">
            <label>Selecciona Plataforma:</label>
            <div class="input-group">
                <select id="plataforma">
                    <option value="ytmusic">YT Music</option>
                    <option value="spotify">Spotify</option>
                </select>
                <input type="text" id="url" placeholder="Pega la URL de la playlist aquí">
            </div>
        </div>
    </div>

    <div class="botones">
        <button onclick="guardarConfiguracion()" class="btn-save">Guardar Configuración</button>
        <button onclick="iniciarScraper()" class="btn-start">Iniciar Scraper</button>
    </div>

    <p id="status"></p>

    <script src="/static/js/script.js"></script>
</body>
</html>